@charset "utf-8";
/* --------------- Style to null --------------- */
*{-moz-box-sizing:border-box;box-sizing:border-box;}html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,a,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;vertical-align:baseline;background:transparent;font-size:100%;margin:0;padding:0;}a{background:transparent;}table{border-collapse:collapse;border-spacing:0;}td,td img{vertical-align:top;}input,select,button,textarea{font-size:12px;font-family:Arial, Helvetica, sans-serif;margin:0;}input[type="text"],input[type="password"],textarea,input[type="email"],input[type="phone"],input[type="number"]{font:12px Arial, Helvetica, sans-serif;padding:0;}input[type="checkbox"]{vertical-align:bottom;}input[type="radio"]{vertical-align:text-bottom;}sub{vertical-align:sub;font-size:smaller;}sup{vertical-align:super;font-size:smaller;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}ul,ol{list-style:none;}html{overflow-y:scroll;overflow-x:auto;}html,body{height:100%;}body{line-height:1;color:#000;text-align:left;z-index:1;position:relative;}input [type='text']{padding:0;}textarea{resize:none;overflow:auto;}label,input[type="button"],input[type="submit"],button{cursor:pointer;}input[type="button"],input[type="reset"],input[type="submit"],button,input[type="text"],input[type="password"],textarea,input[type="email"],input[type="tel"],input[type="phone"],input[type="number"]{-webkit-appearance:none;}a,a:visited,a:hover,a:focus,a:active{text-decoration:none;}input[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0;}input:invalid{outline:none;-moz-box-shadow:none;border:none;}::-ms-clear{display:none;}input,textarea,input[type="search"]:focus,:focus{outline:none;}
/* --------------- Style to null --------------- */

/*
    main styles
    version: 25.03.2016

    placeholder

    fonts

    site

    header__menu

    aside-menu

    slider

    reviews

    plastic-surgery

    photo

    news

    specialist

    catalog

    logo
*/

/* --------------- placeholder --------------- */
::-webkit-input-placeholder {
    color: #000;
}
:-moz-placeholder {
    color: #000;
}
.placeholder {
    color: #000;
}
/* --------------- /placeholder --------------- */

/* --------------- site --------------- */
.site {
    position: relative;
    overflow: hidden;
    min-height: 100%;
    min-width: 320px;
    font: 14px/18px 'Open Sans', sans-serif;
    font-weight: 600;
    color:#707070;
    z-index: 1;
}
.site:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
    height: 57px;
}
.site__content {
    position: relative;
    z-index: 2;
}
.site__header {
    position: relative;
    height: 260px;
    z-index: 3;
}
.site__footer {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 57px;
    background: #6684aa url("../pic/fotter-bg.jpg") no-repeat center;

}
.site__footer-layout {
    width: 100%;
    height: 57px;
    padding: 10px 10px;
    color: #fff;
    font-weight: 400;
}
.site__footer-developer{
    letter-spacing: .4px;
}
.site__tabs{
    height: 85px;
    background: #8bccec;
}
.site__tabs .plastic,
.site__tabs .maxillofacial,
.site__tabs .stomatology{
    display: block;
    vertical-align: top;
    padding: 5px 0 6px;
    font-size: 13px;
    color: #fff;
    text-align: center;
    text-decoration: underline;
    transition: background .3s ease;
    -webkit-transition: background .3s ease;
}
.site__tabs .active{
    background: #009fd9;
    text-decoration: none;
    cursor: default;
}
.site__tabs .plastic:hover,
.site__tabs .maxillofacial:hover,
.site__tabs .stomatology:hover{
    background: #009fd9;
    text-decoration: none;
}
.site__header-work-time{
    position: absolute;
    top: 15px;
    right: 41px;
    font-size: 13px;
    font-weight: 400;
    color: #707070;
    line-height: 18px;
}
.site__header-tel{
    position: absolute;
    z-index: 1;
    top: 161px;
    left: 50%;
    width: 190px;
    color: #707070;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.site__header-tel a{
    color: #707070;
    font-size: 18px;
    line-height: 25px;
    cursor: default;
}
.site__header-request{
    border-bottom: 1px dotted #5286bf;
    font-size: 16px;
    color:#5286bf;
    line-height: 25px;
    transition: border .3s ease;
    -webkit-transition: border .3s ease;
    cursor: pointer;
}
.site__header-request:hover{
    border-bottom: 1px dotted transparent;
}
.site__content-layout{
    padding: 0 13px;
    font-weight: 400;
}
.site__title{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 13px;
    border-bottom: 2px solid #f3f3f3;
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    text-transform: uppercase;
}
.site__title span{
    display: block;
}
.site__location {
    padding: 10px 10px;
    margin-bottom: 22px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
}
.site__location-town, .site__location-mail {
    display: block;
    position: relative;
    padding-left: 20px;
    color: #707070;
    text-decoration: underline;
}
.site__location-town:before, .site__location-mail:before {
    position: absolute;
    top: 2px;
    width: 12px;
    height: 16px;
    left: 1px;
    background: url("../img/location01.png");
    background-size: contain;
    content: "";
}
.site__location-mail:before {
    top: 5px;
    width: 16px;
    height: 10px;
    background: url("../img/location02.png");
    background-size: contain;
}
.site__footer-copywriter {
    margin-bottom: 2px;
}
.site__footer-link {
    color: #fff;
    text-decoration: underline;
}
.site__location-mail {
    margin-top: 6px;
}
.site__information{
    display: none;
}
.site__aside{
    margin-bottom: 34px;
}
.site__aside .reviews{
    display: none;
}
/* --------------- /site --------------- */

/* --------------- btn-up --------------- */
.btn-up {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    background: url("../img/back-to-top.png") no-repeat;
    width: 55px;
    height: 57px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    z-index: 5;
}
/* --------------- /btn-up --------------- */

/* --------------- header__menu --------------- */
.header__menu {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 13px;
}
.header__menu.active .header__menu-btn > span {
    background: transparent;
}
.header__menu.active .header__menu-btn > span:before {
    transform: rotate(45deg);
    bottom: 0;
}
.header__menu.active .header__menu-btn > span:after {
    transform: rotate(-45deg);
    top: 0;
}
.header__menu-btn {
    border: none;
    padding: 0;
    position: absolute;
    top: 12px;
    left: 11px;
    width: 124px;
    height: 40px;
    padding-left: 12px;
    background: #a2d6f0;
    background: -webkit-linear-gradient(top, #a2d6f0 0%,#3765a9 50%);
    background: -o-linear-gradient(top, #a2d6f0 0%,#3765a9 50%);
    background: linear-gradient(top, #a2d6f0 0%,#3765a9 50%);
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    color: #fff;
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
}
.header__menu-btn:hover{
    opacity: .7;
}
.header__menu-btn > span {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 2px;
    margin: -2px 19px 0 0;
    background: #fff;
    position: relative;
    border-radius: 2px;
}
.header__menu-btn > span:before, .header__menu-btn > span:after {
    display: block;
    width: 20px;
    height: 2px;
    position: absolute;
    background: #fff;
    left: 0;
    content: '';
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    border-radius: 2px;
}
.header__menu-btn > span:before {
    bottom: 320%;
}
.header__menu-btn > span:after {
    top: 320%;
}
.header__menu-wrap {
    position: absolute;
    z-index: 4;
    top: 66px;
    cursor: default;

    width: 230px;
    margin-left: -230px;
    border-radius: 5px;
    background: #fff;
    border-bottom: 1px solid #707070;
    -webkit-transition: margin .3s ease;
    transition: margin .3s ease;
}
.header__menu a, .header__menu a:visited {
    font-size: 13px;
    color: #707070;
    font-weight: 700;
    display: block;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    border-top: 1px solid #707070;
    padding: 10px 10px;
    letter-spacing: 0.7px;
}
.header__menu.active .header__menu-wrap {
    margin-left: 0;
}
.header__menu-wrap a:hover {
    color:#2d4b9b;
    text-decoration: underline;
}
/* --------------- /header__menu --------------- */

/* --------------- aside-menu --------------- */
.aside-menu {
    position: relative;
    font: 13px 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;
}
.aside-menu__title {
    display: none;
}
.aside-menu.active .aside-menu__btn > span {
    background: transparent;
}
.aside-menu.active .aside-menu__btn > span:before {
    transform: rotate(45deg);
    bottom: 0;
}
.aside-menu.active .aside-menu__btn > span:after {
    transform: rotate(-45deg);
    top: 0;
}
.aside-menu a, .aside-menu a:visited {
    display: block;
    font-size: 13px;
    color: #707070;
    font-weight: 700;
    text-decoration: underline;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
}
.aside-menu__btn {
    border: none;
    padding: 0;
    position: relative;
    top: 14px;
    left: 0px;
    width: 139px;
    height: 40px;
    padding-left: 12px;
    background: #a2d6f0;
    background: -webkit-linear-gradient(top, #a2d6f0 0%,#3765a9 50%);
    background: -o-linear-gradient(top, #a2d6f0 0%,#3765a9 50%);
    background: linear-gradient(top, #a2d6f0 0%,#3765a9 50%);
    font-size: 16px;
    text-align: left;
    font-weight: 600;
    color: #fff;
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
}
.aside-menu__btn:hover{
    opacity: .7;
}
.aside-menu__btn > span {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 2px;
    margin: -2px 23px 0  0;
    background: #fff;
    position: relative;
    border-radius: 2px;
}
.aside-menu__btn > span:before, .aside-menu__btn > span:after {
    display: block;
    width: 20px;
    height: 2px;
    position: absolute;
    background: #fff;
    left: 0;
    content: '';
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    border-radius: 2px;
}
.aside-menu__btn > span:before {
    bottom: 320%;
}
.aside-menu__btn > span:after {
    top: 320%;
}
.aside-menu__wrap {
    position: absolute;
    z-index: 2;
    top: 66px;
    width: 230px;
    margin-left: -250px;
    border-radius: 5px;
    background: #fff;
    color: #707070;
    text-align: left;
    cursor: default;
    -webkit-transition: margin .3s ease;
    transition: margin .3s ease;

}
.aside-menu.active .aside-menu__wrap {
    margin-left: -14px;
}
.aside-menu__wrap a:hover {
    color:#2d4b9b;
    text-decoration: underline;
}
.aside-menu__wrap span{
    display: block;
    padding: 11px 15px 11px 28px;
    margin-top: 0;
    color: #707070;
    font-size: 14px;
    line-height: 18px;
    text-decoration: underline;
}
.aside-menu__wrap>li{
    position: relative;
    padding: 0;
    line-height: 24px;
    margin-bottom: 0;
    transition: color .3s ease;
    -webkit-transition: color .3s ease;
    cursor: pointer;
}
.aside-menu__wrap>li:before{
    position: absolute;
    top: 19px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    pointer-events: none;
    border-color: rgba(163, 163, 163, 0);
    border-top-color: #707070;
    border-width: 5px 5px 0 5px;
    left: 13px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}
.aside-menu__wrap>li.open:before{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}
.aside-menu__wrap>li.open span{
    color: #5286bf;
    text-decoration: none;
}
.aside-menu__wrap>li a:hover, .aside-menu__wrap>li span:hover{
    color: #5286bf;
    text-decoration: none;
}
.aside-menu__wrap ul{
    display: none;
    margin-left: 42px;
}
.aside-menu__wrap ul li{
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: background .3s ease;
    -webkit-transition: background .3s ease;
}
.aside-menu__wrap ul li:hover{
}
/* --------------- /aside-menu --------------- */

/* --------------- slider--------------- */
.slider{
    position: relative;
    overflow: hidden;
    margin: 0 -13px 1px -13px;
}
.slider__layout{
    position: relative;
    width: 100%;
    height: 296px;
    border-radius: 5px;
    background-position: 30% 50%;
    background-repeat: no-repeat;
    color: #fff;
}
.slider__title{
    padding: 19px 12px 0 46%;
    letter-spacing: 0.5px;
}
.slider__title h2{
    padding-bottom: 21px;
    margin-bottom: 18px;
    border-bottom: 1px solid #fff;
    font-size: 24px;
    letter-spacing: 0.5px;
    line-height: 30px;
    text-transform: uppercase;
}
.slider__title span{
    font-size: 14px;
    font-weight: 400;
}
.slider__more{
    position: absolute;
    bottom: 38px;
    right: 16px;
    padding: 0 25px 13px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
}
.slider__more:after{
    position: absolute;
    top: -2px;
    right: 2px;
    width: 12px;
    height: 24px;
    background: url("../img/more-right.png");
    content: "";
}
.slider .slider__icon{
    position: relative;
    max-width: 698px;
    margin: 0 auto;
    bottom: 30px;
    text-align: center;
}
.slider .slider__icon span {
    display: inline-block;
    vertical-align: middle;
    content: '';
    background: #c5d4e5;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 8px !important;
    opacity: 1;
    transition: background .3s ease, border .3s ease;

}
.slider .slider__icon span:hover {
    background: #d3ddea;
}
.slider .swiper-pagination-bullet-active {
    opacity: 1;
    background: #d3ddea !important;
}
/* --------------- /slider--------------- */

/* --------------- plastic surgery--------------- */
.plastic-surgery{
    margin-bottom: 20px;
}
.plastic-surgery p{
    margin-bottom: 6px;
    letter-spacing: .7px;
}
.plastic-surgery ul{
    list-style-type: disc;
}
.plastic-surgery ul li{
    line-height: 30px;
    letter-spacing: .8px;
    list-style-position: inside;
}
/* --------------- /plastic surgery--------------- */

/* --------------- reviews --------------- */
.reviews{

}
.reviews .site__title{
    margin-bottom: 15px;
    padding-bottom: 17px;
}
.reviews__all{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    font-weight: 400;
    color: #5286bf;
    text-transform: none;
    text-decoration: underline;
}
.reviews__all:hover{
    text-decoration: none;
}
.reviews__item{
    margin-bottom: 52px;
    letter-spacing: .8px;
}
.reviews__item-user{
    margin-bottom: 10px;
    color: #b6b6b6;
}
.reviews__item-title{
    display: block;
    vertical-align: top;
    margin-bottom: 14px;
    margin-right: -13px;
    font-size: 18px;
    color: #707070;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-decoration: underline;
}
.reviews .reviews__item:last-child{
    margin-bottom: 42px;
}
/* --------------- /reviews --------------- */

/* --------------- photo --------------- */
.photo{
    margin-bottom: 10px
}
.photo .site__title{
    margin-bottom: 54px;
    padding-bottom: 13px;
}
.photo .reviews__all{
    top: 50px;
    right: auto;
    left: 3px;
}
.photo__slider{
    position: relative;
    height: 457px;
    padding: 84px 13px 33px 13px;
    margin: 0 -13px 27px;
    border-radius: 5px;
    background: #f3f3f3;
}
.photo__item{
    position: relative;
    width: 260px;
    height: 160px;
    margin: 0 auto;
    border-radius: 5px;
    background: no-repeat center;
}
.swiper-slide .photo__item:first-child{
    margin-bottom: 20px;
}
.photo__item span{
    position: absolute;
    right: 11px;
    bottom: 8px;
    color: #fff;
}
.photo-button-next,
.photo-button-prev {
    position: absolute;
    left: 50%;
    top: 23px;
    right: auto;
    width: 40px;
    height: 40px;
    margin: 0 0 0 -44px;
    border-radius: 3px;
    background: #e5e5e5 url("../pic/slider-prevt.png") no-repeat center;
    background-size: 13px 24px;
    box-shadow: 0 0 3px #B7B1B1;
    cursor: pointer;
    transition: background-color .3s ease;
    -webkit-transition: background-color .3s ease;
}
.photo-button-next{
    right: auto;
    margin: 0 0 0 6px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.photo-button-prev:hover,
.photo-button-next:hover{
    background: #4474b3 url("../pic/slider-next.png") no-repeat center;
    background-size: 13px 24px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}
.photo-button-prev:hover{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.photo__title{
    margin-bottom: 20px;
    font-size: 14px;
    color: #707070;
}
/* --------------- /photo --------------- */

/* --------------- news --------------- */
.news{
    margin-bottom: 42px;
}
.news .site__title{
    padding-bottom: 14px;
    margin-bottom: 17px;
}
.news__item{
    display: none;
    width:293px;
    margin: 0 auto;
}
.news__pic{
    width: 100%;
    height: 142px;
    margin-bottom: 11px;
    border-radius: 5px;
    background: no-repeat center;
}
.news time{
    display: block;
    margin-bottom: 6px;
    color: #b6b6b6;
}
.news__title{
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5px;
    font-size: 18px;
    color: #707070;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: 0.2px;
    text-decoration: underline;
}
.mobile_show{
    display: block;
}
/* --------------- /news --------------- */

/* --------------- specialist --------------- */
.specialist{
    display: none;
}
/* --------------- /specialist --------------- */

/* --------------- catalog --------------- */
.catalog {
    padding: 10px 0 14px;
}
.catalog__wrap{
    width: 100%;
    padding: 0 8px;
}
.catalog__item {
    margin-bottom: 16px;
    color: #707070;
}
.catalog__content {
    display: none;
}
.catalog__hider {
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    width: 100%;
    height: 61px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background: rgb(140, 205, 237);
    background: -moz-linear-gradient(top, rgba(140, 205, 237, 1) 0%, rgba(52, 97, 167, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(140, 205, 237, 1) 0%, rgba(52, 97, 167, 1) 100%);
    background: linear-gradient(to bottom, rgba(140, 205, 237, 1) 0%, rgba(52, 97, 167, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8ccded', endColorstr='#3461a7', GradientType=0);
    cursor: pointer;
}
.catalog__hider img {
    height: 44px;
}
.catalog__img {
    overflow: hidden;
    position: relative;
    height: 194px;
    margin-bottom: 16px;
    border-radius: 5px;
}
.catalog__img img {
    display: block;
}
.catalog__title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}
.catalog__title a{
    color: #707070;
    text-decoration: underline;
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
}
.catalog__title a:hover{
    opacity: .8;
}
.catalog__icon{
    display: none;
}
/* --------------- /catalog --------------- */

/* --------------- our-specialists --------------- */
.our-specialists__wrap{
    text-align: center;
}
.our-specialists__wrap:after{
    display: inline-block;
    width: 100%;
    content: "";
}
.our-specialists__item{
    display: inline-block;
    vertical-align: top;
    width: 205px;
    margin: 0 10px 35px;
    color: #000;
    letter-spacing: .3px;
    text-align: center;
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
}
.our-specialists__item:hover{
    opacity: .8;
}
.our-specialists__item:hover .our-specialists__name{
    text-decoration: none;
}
.our-specialists__item:hover .our-specialists__surname{
    text-decoration: none;
}
.our-specialists__pic{
    width: 100%;
    height: 241px;
    margin-bottom: 17px;
    background: no-repeat center;
}
.our-specialists__name{
    margin-bottom: 4px;
    font-weight: 700;
    text-decoration: underline;
}
.our-specialists__surname{
    margin-bottom: 6px;
    font-size: 18px;
    font-weight: 700;
    text-decoration: underline;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}
/* --------------- /our-specialists --------------- */

/* --------------- description --------------- */
.description{
    margin-bottom: 20px;
}
.description__pic{
    display: block;
    vertical-align: top;
    width: 212px;
    height: 241px;
    margin: 0 auto 17px;
    background: no-repeat center;
}
.description__position{
    margin-bottom: 15px;
    font-style: italic;
    text-align: center;
}
.description__text{
    display: inline-block;
    vertical-align: top;
    width: 100%;
}
.description__text h3{
    margin-bottom: 15px;
}
.description__text p{
    margin-bottom: 15px;
}
.description__slider{
    position: relative;
    height: 248px;
    padding: 84px 13px 33px 13px;
    margin: 0 -13px 27px;
    border-radius: 5px;
    background: #f3f3f3;
}
.description__item{
    position: relative;
    width: 98px;
    height: 140px;
    margin: 0 auto;
    border-radius: 5px;
    background: no-repeat center;
}
/* --------------- /description --------------- */

/* --------------- logo --------------- */
.logo {
    position: absolute;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.logo img{
    width: 300px;
    height: auto;
}
.logo span{
    display: none;
}
/* --------------- /logo --------------- */

@media (min-width: 768px){

    /* --------------- site --------------- */
    .site__content-layout{
        padding: 0 24px;
        margin: 0 auto;
    }
    .site__tabs{
        height: 26px;
        text-align: center;
        box-shadow: 0 0 70px rgba(139, 204, 236, 0.65);
        -webkit-box-shadow: 0 0 70px rgba(139, 204, 236, 0.65);
    }
    .site__tabs .plastic,
    .site__tabs .maxillofacial,
    .site__tabs .stomatology {
        display: inline-block;
        height: 26px;
        padding: 3px 30px 5px;
        margin-left: -4px;
    }
    .site__content-wrap{
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex-direction: row;
        flex-wrap: wrap;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        align-items: flex-start;
        -webkit-flex-align: flex-start;
        -ms-flex-align: flex-start;
        -webkit-align-items: flex-start;
    }
    .site__header {
        height: 138px;
        padding: 0 24px;
    }
    .header_inside{
        height: 215px;
    }
    .site__title {
        margin-bottom: 15px;
    }
    .header__menu-btn {
        top: 32px;
        left: 24px;
    }
    .site__header-work-time {
        width: 164px;
        top: 34px;
        right: auto;
        left: 170px;
    }
    .site__header-work-time div{
        position: relative;
    }
    .site__header-work-time span{
        position: absolute;
        right: 0;
    }
    .site__header-tel {
        top: 89px;
        left: auto;
        right: 24px;
        font-size: 13px;
        text-align: right;
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    .site__header-request {
        line-height: 32px;
    }
    .site__location {
        position: absolute;
        z-index: 3;
        top: 48px;
        right: 13px;
    }
    .location_inside{
        top: 22px;
    }
    .site__location-town, .site__location-mail {
        display: inline-block;
    }
    .site__location-mail {
        margin-left: 13px;
    }
    .site:after {
        height: 76px;
    }
    .site__footer {
        height: 76px;
    }
    .site__footer-layout{
        height: 76px;
        padding: 28px 185px 0 24px;
        text-align: justify;
    }
    .site__footer-layout:after{
        display: inline-block;
        width: 100%;
        content: "";
    }
    .site__footer-copywriter {
        display: inline-block;
        vertical-align: top;
    }
    .site__footer-developer {
        display: inline-block;
        vertical-align: top;
    }
    .site__information{
        display: block;
        height: 212px;
        padding: 40px 0;
        background: #e6eeeb;
    }
    .site__information-wrap{
        position: relative;
        max-width: 940px;
        padding: 0 21px;
        margin: 0 auto;
    }
    .site__information a{
        color: #707070;
        text-decoration: underline;
    }
    .site__information a:hover{
        text-decoration: none;
    }
    .site__information-logo{
        position: relative;
        width: 367px;
        margin-bottom: 45px;
    }
    .site__information-name{
        position: absolute;
        top: 27px;
        left: 50%;
        width: 270px;
        font-size: 12px;
        text-align: center;
        transform: translateX(-50%);
        -webkit-transform: translateX(-34%);
    }
    .site__information-menu{
        position: absolute;
        top: 1px;
        right: 17px;
        width: 298px;
        line-height: 30px;
    }
    .site__information-menu div{
        display: inline-block;
        vertical-align: top;
    }
    .site__information-menu div:first-child{
        width: 208px;
    }
    .site__information-menu div:last-child{
        width: 86px;
    }
    .site__information-links{
        display: block;
    }
    .site__information-stomatology,
    .site__information-maxillofacial{
        position: relative;
        display: inline-block;
        vertical-align: top;
        padding-left: 40px;
        line-height: 32px;
    }
    .site__information-stomatology{
        margin-right: 34px;
    }
    .site__information-stomatology:before{
        position: absolute;
        width: 37px;
        height: 37px;
        top: 0;
        left: -2px;
        background: url("../img/stomatology.png")no-repeat center;
        background-size: contain;
        content: "";
    }
    .site__information-maxillofacial:before{
        position: absolute;
        width: 39px;
        height: 39px;
        top: -6px;
        left: -2px;
        background: url("../img/maxillofacial.png")no-repeat center;
        background-size: contain;
        content: "";
    }
    /* --------------- /site --------------- */

    /* --------------- btn-up --------------- */
    .btn-up {
        right: 20px;
    }
    /* --------------- /btn-up --------------- */

    /* --------------- slider --------------- */
    .slider{
        order: 1;
        margin: 50px auto 10px;
        max-width: 100%;
    }
    .slider__layout {
        background-size: cover;
    }
    .slider .slider__icon {
        bottom: 55px;
    }
    .slider__more {
        bottom: 78px;
        right: 34px;
        padding: 0 25px 14px 0;
    }
    .slider__title {
        padding: 56px 36px 0 47%;
        line-height: 25px;
    }
    .slider__title h2 {
        padding: 0 90px 13px 0;
        margin-bottom: 16px;
        line-height: 40px;
    }
    .slider__title span {
        display: block;
        padding-right: 100px;
    }
    /* --------------- /slider --------------- */

    /* --------------- menu --------------- */
    .header__menu-wrap {
        top: 100px;
    }
    .header__menu-btn > span:before {
        bottom: 300%;
    }
    .header__menu-btn > span:after {
        top: 300%;
    }
    /* --------------- menu --------------- */

    /* --------------- site__aside --------------- */
    .aside-menu__btn {
        position: absolute;
        z-index: 1;
        top: -33px;
        left: 0px;
        width: 141px;
    }
    .aside-menu__wrap {
        top: 25px;
    }
    /* --------------- /site__aside --------------- */

    /* --------------- reviews --------------- */
    .reviews{
        order: 2;
        width: 30%;
    }
    .reviews__item {
        margin-bottom: 35px;
    }
    .inside_content-layout .reviews{
        width: 100%;
    }
    /* --------------- /reviews --------------- */

    /* --------------- plastic-surgery--------------- */
    .plastic-surgery{
        order: 3;
        width: 65%;
    }
    /* --------------- /plastic-surgery --------------- */

    /* --------------- news --------------- */
    .news {
        margin-bottom: 37px;
    }
    .news__wrap{
        text-align: justify;
    }
    .news__wrap:after{
        display: inline-block;
        width: 100%;
        content: "";
    }
    .news .site__title {
        margin-bottom: 23px;
    }
    .news__item{
        width: 30.5%;
        display: inline-block;
        vertical-align: top;
        text-align: left;
    }
    .news__pic{
        height: 140px;
        margin-bottom: 24px;
    }
    .news__title {
        letter-spacing: -0.1px;
    }
    /* --------------- /news --------------- */

    /* --------------- catalog --------------- */
    .catalog {
        margin-bottom: 24px;
        padding: 22px 0 14px;
        background: url("../img/bg-catalog.jpg") center;
        background-size: cover;
    }
    .catalog__wrap {
        display: flex;
        display: -webkit-flex;
        flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        align-items: flex-start;
        -webkit-align-items: flex-start;
        width: 720px;
        margin: 0 auto;
        padding: 5px 0;
    }
    .catalog__img {
        display: flex;
        display: -webkit-flex;
        flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: flex-start;
        -webkit-align-items: flex-start;
    }
    .catalog__item{
        display: inline-block;
        vertical-align: top;
        width: 221px;
        padding: 0;
        color: #fff;
    }
    .catalog__hider{
        display: none;
    }
    .catalog__content {
        display: block!important;
    }
    .catalog__title a {
        color: #fff;
    }
    .catalog__icon{
        display: block;
        margin-bottom: 8px;
    }
    .catalog__icon img{
        display: block;
    }
    /* --------------- /catalog --------------- */

    /* --------------- photo --------------- */
    .photo{
        order: 4;
        width: 100%;
    }
    .photo .site__title{
        margin-bottom: 14px;
    }
    .photo .reviews__all{
        top: auto;
        right: 0;
        left: auto;
    }
    .photo__slider {
        height: 222px;
        padding: 32px 78px;
        margin: 0 0 38px 0;
        text-align: center;
    }
    .photo__item {
        display: inline-block;
        vertical-align: top;
        width: 259px;
        margin: 0 5px;
    }
    .photo-button-next, .photo-button-prev {
        position: absolute;
        top: 50%;
        right: 33px;
        left: auto;
        margin: -20px 0 0 0;
    }
    .photo-button-prev{
        left: 33px;
        right: auto;
    }
    .photo__wrap {
        width: 100%;
        margin: 0 auto;
    }
    /* --------------- /photo --------------- */

    /* --------------- specialist --------------- */
    .specialist{
        display: block;
        position: relative;
        width: 100%;
        margin-bottom: 60px;
        padding: 17px 0 95px;
        border-radius: 5px;
        background: #25b2f0 url(../pic/specialist-bg.png) no-repeat center;
    }
    .specialist .site__title{
        margin: 0 0 22px 24px;
        padding-bottom: 16px;
        border-color: #568fbd;
        color: #fff;
    }
    .specialist .site__title .reviews__all{
        right: 26px;
        color: #fff;
    }
    .specialist__slider{
        margin: 0 24px;
        text-align: center;
    }
    .specialist__item{
        display: inline-block;
        vertical-align: top;
        width: 205px;
        color: #fff;
        letter-spacing: .3px;
        text-align: center;
    }
    .specialist__pic{
        width: 100%;
        height: 241px;
        margin-bottom: 17px;
        background: no-repeat center;
    }
    .specialist__name{
        margin-bottom: 4px;
        font-weight: 700;
        text-decoration: underline;
    }
    .specialist__surname{
        margin-bottom: 6px;
        font-size: 18px;
        font-weight: 700;
        text-decoration: underline;
    }
    .specialist__position{
        font-style: italic;
    }
    .specialist-button-next,
    .specialist-button-prev {
        position: absolute;
        left: 50%;
        bottom: 20px;
        right: auto;
        width: 50px;
        height: 50px;
        margin: 0 0 0 -58px;
        border-radius: 50%;
        background: #e5e5e5 url("../pic/slider-prevt.png") no-repeat center;
        background-size: 13px 24px;
        box-shadow: 0 0 3px #B7B1B1;
        cursor: pointer;
        transition: background-color .3s ease;
        -webkit-transition: background-color .3s ease;
    }
    .specialist-button-next{
        right: auto;
        margin: 0 0 0 6px;
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }
    .specialist-button-prev:hover,
    .specialist-button-next:hover{
        background: #4474b3 url("../pic/slider-next.png") no-repeat center;
        background-size: 13px 24px;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    .specialist-button-prev:hover{
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }
    /* --------------- /specialist --------------- */

    /* --------------- our-specialists --------------- */
    .our-specialists{
        width: 100%;
        padding-top: 45px;
    }
    .our-specialists__wrap{
        margin: 0 -15px;
        text-align: left;
    }
    .our-specialists__item{
        width: 30%;
        margin: 0 10px 35px;
    }
    /* --------------- /our-specialists --------------- */

    /* --------------- description --------------- */
    .description{
        width: 100%;
        margin: 50px 0 20px;
    }
    .description__pic {
        display: inline-block;
        margin-right: 20px;
    }
    .description__text{
        width: 66%;
    }
    .description__position{
        text-align: left;
    }
    .description__slider {
        height: 186px;
        padding: 21px 78px;
        margin: 0 0 38px 0;
        text-align: center;
    }
    /* --------------- description --------------- */

    /* --------------- logo --------------- */
    .logo {
        width: 331px;
        top: 78px;
        text-align: center;
        font-size:24px;
        font-weight: 400;
        transform: translateX(-54%);
        -webkit-transform: translateX(-54%);
    }
    .logo img{
        width: 100%;
        margin-bottom: 3px;
    }
    .logo span{
        display: block;
        font-size: 19px;
    }
    /* --------------- /logo --------------- */
}

@media (min-width: 940px) {

    /* --------------- site --------------- */
    .site__header {
        position: relative;
        max-width: 100%;
        height: 183px;
        margin-bottom: 30px;
    }
    .site .header_inside{
        height: 176px;
    }
    .site__header-tel {
        top: 18px;
        left: 50%;
        right: auto;
        width: 190px;
        margin-left: 282px;
    }
    .site__header-request {
        line-height: 48px;
    }
    .site__header-work-time {
        top: 19px;
        right: 50%;
        left: auto;
        margin-right: 292px;
    }
    .site__location {
        width: 300px;
        top: 94px;
        right: 50%;
        margin-right: 164px;
    }
    .location_inside{
        top: 68px;
    }
    .site__location-mail {
        margin-left: 0;
    }
    .site__content-layout{
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex-direction: row;
        flex-wrap: wrap;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        align-items: flex-start;
        -webkit-flex-align: flex-start;
        -ms-flex-align: flex-start;
        -webkit-align-items: flex-start;
        max-width: 940px;
        padding: 0;
    }
    .site__title {
        margin-bottom: 20px;
    }
    .site__title span {
        display: inline-block;
    }
    .site__aside{
        width: 220px;
        margin-bottom: 0;
    }
    .site__aside .reviews{
        display: block;
    }
    .aside-menu__btn{
        display: none;
    }
    .aside-menu__wrap{
        position: relative;
        width: 100%;
        top: 0;
        padding-top: 10px;
        margin: 0;
        border-radius: 0 0 5px 5px;
    }
    .aside-menu {
        padding: 13px 11px;
        margin-bottom: 53px;
        border-radius: 5px;
        background: #f3f3f3;
    }
    .aside-menu__title{
        display: block;
        padding: 8px 14px;
        background: #0090ff;
        color: #fff;
        text-align: left;
        font-size: 16px;
        font-weight: 600;
        border-radius: 5px 5px 0 0;
    }
    .site__content-wrap{
        display: block;
        width: 698px;
        background: #fff;
    }
    .site__footer-layout{
        max-width: 940px;
        padding: 28px 185px 0 0px;
        margin: 0 auto;
    }
    .site__footer-layout {
        padding-right: 0;
    }
    .site__information-wrap {
        padding: 0;
    }
    .site__information-menu {
        right: -8px;
    }
    /* --------------- /site --------------- */

    /* --------------- btn-up --------------- */
    .btn-up {
        right: 50px;
    }
    /* --------------- /btn-up --------------- */

    /* --------------- menu --------------- */
    .header__menu {
        top: auto;
        bottom: 0;
        width: 100%;
        height: 35px;
        background: #a2d6f0;
        background: -webkit-linear-gradient(top, #a2d6f0 0%,#3765a9 50%);
        background: -o-linear-gradient(top, #a2d6f0 0%,#3765a9 50%);
        background: linear-gradient(top, #a2d6f0 0%,#3765a9 50%);
    }
    .header__menu-btn {
        display: none;
    }
    .header__menu-wrap {
        position: relative;
        width: 940px;
        margin: 0 auto;
        top: 0;
        border: none;
        background: transparent;
        text-align: justify;

    }
    .header__menu a {
        display: inline-block;
        vertical-align: top;
        height: 35px;
        padding: 7px 20px;
        border: none;
        color: #fff !important;
        transition: background .3s ease;
        -webkit-transition: background .3s ease;
    }
    .header__menu a:hover{
        background: rgba(120, 181, 221, 0.34);
        color: #fff;
        text-decoration: none;
    }
    .header__menu-wrap:after {
        content: '';
        display: inline-block;
        width: 100%;
    }
    /* --------------- /menu --------------- */

    /* --------------- slider --------------- */
    .slider {
        width: 698px;
        margin: 0 auto 20px;
    }
    .slider__title {
        padding: 58px 36px 0 46%;
    }
    /* --------------- /slider --------------- */

    /* --------------- plastic-surgery --------------- */
    .plastic-surgery {
        width: 100%;
        margin-bottom: 45px;
    }
    .plastic-surgery ul li {
        letter-spacing: .2px;
    }
    .plastic-surgery p {
        letter-spacing: .4px;
    }
    /* --------------- /plastic-surgery --------------- */

    /* --------------- photo --------------- */
    .photo__slider {
        margin: 0 0 45px 0;
    }
    .photo-button-prev {
        left: 22px;
    }
    .photo-button-next {
        right: 22px;
    }
    /* --------------- /photo --------------- */

    /* --------------- specialist --------------- */
    .specialist {
        margin-bottom: 38px;
    }
    .specialist__slider {
        margin: 0 16px;
    }
    /* --------------- /specialist --------------- */

    /* --------------- news --------------- */
    .news {
        margin-bottom: 53px;
    }
    .news__item {
        width: 31.2%;
    }
    .news__pic {
        height: 141px;
    }
    /* --------------- /news --------------- */

    /* --------------- reviews --------------- */
    .reviews{
        display: none;
        width: 100%;
    }
    /* --------------- /reviews --------------- */

    /* --------------- logo --------------- */
    .logo {
        top: 10px;
        transform: translateX(-51%);
        -webkit-transform: translateX(-51%);
    }
    /* --------------- /logo --------------- */

    /* --------------- catalog --------------- */
    .catalog{
        padding: 0 0 4px;
    }
    .catalog__wrap {
        width: 940px;
    }
    .catalog__item {
        width: 294px;
    }
    .catalog__img{
        margin-bottom: 21px;
    }
    .catalog__icon {
        float: left;
        margin-right: 15px;
    }
    .catalog__text{
        overflow: hidden;
    }
    /* --------------- /catalog --------------- */

    /* --------------- our-specialists --------------- */
    .our-specialists{
        width: 698px;
        padding-top: 0;
    }
    .our-specialists__wrap{
        margin: 0 -15px;
    }
    .our-specialists__item{
        width: 212px;
        margin: 0 14px 35px;
    }
    /* --------------- /our-specialists --------------- */

    /* --------------- description --------------- */
    .description{
        margin-top: 0;
    }
    /* --------------- description --------------- */
}